.formStyle{
    background: #fff;
    padding: 0 20px;
    padding-top: 24px;
    margin-bottom: 20px;
} 

.formStyle .ant-advanced-search-form{
    padding:0;   
    background: transparent;
    border: none;
}
 
 .ant-pagination{
     text-align: right;
 }

 .formStyleTbale .ant-table-wrapper{
     height: 53vh !important;
 }